body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
}

.cell {
  border: 1px solid black;
  background-color: rgb(161, 161, 161);
  position: absolute;
  display: flex;
  margin: 1px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  text-align: center;
}

.cell:hover {
  background-color: rgb(255, 255, 255);
}

.cell-filled {
  background-color: rgb(1, 37, 48);
  color: rgb(255, 255, 255);
}

.cell-filled:hover {
  background-color: rgb(64, 146, 146);
  color: rgb(255, 255, 255);
}

.group {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  margin: 0;
  vertical-align: middle;
}

.number {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  text-align: center;
}

.solveBtn {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  text-align: center;
}

.loadBtn {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  text-align: center;
}

.commands {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  text-align: center;
}

.number:hover {
  background-color: rgb(161, 161, 161);
}

.number-selected {
  background-color: rgb(1, 37, 48);
  color: antiquewhite;
}

.number-selected:hover {
  background-color: rgb(64, 146, 146);
  color: antiquewhite;
}